@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Joel Hilton Film Collection!</h1>
    <img src="~/images/jh.jpg" height="300" />

    <div>
        <a asp-controller="Home" asp-action="MovieApplication">Add a Film</a>
    </div>
    <div>
        <a asp-action="MovieList">See the Movie List</a>
    </div>
</div>

